@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100vw;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: bisque;
}

.flex-container > * {
    margin-bottom: 20px;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#dog {
    height: 100%;
}

button {
    height: 50px;
    width: 150px;
    background-color: rgb(255, 121, 73);
    color: white;
    border: none;
    border-radius: 30px;
    transition: all 0.5s linear;
}

button:hover {
    background-color: rgb(213, 58, 2);
    cursor: pointer;
}